
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY ET LAYOUT PRINCIPAL */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* permet au footer de rester en bas */
}

/* HEADER FIXE */
.en_tete {
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* LOGO */
.logoSite {
    position: absolute;
    left: 20px;
    top: 10px;
}

/* BOUTONS FIXES SUR LA BARRE */
.buttonAccueil, .buttonCarte, .buttonRecherche, .buttonConnexion {
    border-radius: 12px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 17px;
    cursor: pointer;
}

.buttonAccueil {
    background-color: black;
    color: white;
    position: absolute;
    top: 15px;
    right: 40%;
}

.buttonCarte {
    background-color: black;
    color: white;
    position: absolute;
    top: 15px;
    right: 30%;
}

.buttonRecherche {
    background-color: black;
    color: white;
    position: absolute;
    top: 15px;
    right: 18%;
}

.buttonConnexion {
    background-color: #22c55e;
    color: black;
    position: absolute;
    top: 15px;
    right: 5%;
}

/* WRAPPER POUR CENTRER LE CONTENU */
.wrapper {
    flex: 1;                  /* prend l’espace entre header et footer */
    display: flex;
    flex-direction: column;
    justify-content: center;   /* centre verticalement */
    align-items: center;       /* centre horizontalement si besoin */
    padding-top: 80px;         /* espace pour le header fixe */
}

/* BODY */
.container-fluid {
    width: 100%;
    padding: 20px;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: left;
}

footer{
   background-color: black; 
   color: white;
   padding: 20px 0px 0px 20px;
}

.container{
    text-align: center;
}
